{% extends "layout.html" %}
{% block body %}
    <h2>Choose the articles you want to delete:</h2>
  <form action="{{ url_for('delete_entries') }}" method=post>
    <dl>
      <dt>Articles:
      {% for entry in entries %}
      <dd><input type=checkbox name="{{entry.title}}">{{entry.title}}
      {% endfor %}
    </dl>
    <input type=submit value=Delete>
  </form>
{% endblock %}
