{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% if entries %}
    <h2 style="border-bottom: 1.5px solid #eee; width: 70px">Articles</h2>
    {% for entry in entries %}
      <li style="margin-left: 50px"><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    {% endfor%}
  {% else %}
    <li><em>Unbelievable.  No Articles here so far</em>
    {% endif%}
  </ul>
{% endblock %}
